
$--body-background:#fff;

$--color-blue: #409EFF !default;
$--color-blue-light-1:#60A5FF;
$--color-blue-light-2:#A0C9FF;
$--color-blue-light-3: #F6FAFF;
$--color-blue-light-4: #6ec8ff;



$--color-success: #63D2B1 ;
$--color-warning: #FFCD31 ;
$--color-info: #20A0FF ;
$--color-danger: #f56c6c ;

$--color-white: #fff !default;
$--color-black: #474747 !default;
$--color-black-bold: #2F3033;

$--color-black-light-1:#7A8599;     //top-menu
$--color-black-light-2:#6B737C;     //left-menu
$--color-black-light-4:#8D9199;     //例如，待办事项，已办字体颜色
$--color-black-light-5:#5E6D82;     //例如，法官接待日，popover-header
$--color-black-light-7:#e1e4ee;     //self border 自定义border颜色

$--color-black-light-3:#333;
$--color-black-light-6:#666;
$--color-black-light-9:#999;


//左侧导航栏颜色
$--nav-text-color: #8d9199;
$--nav-background: #F5F7FA;
$--nav-background-hover: #E1EDFA;

//案件-项目，详情页 table
$--table-background-th: #FBFDFF;
$--table-border: #BFCBD9;

//callpase
$--collapse-button-background: #bfcbd9 ;


//home-calendar
$--calendar-doing:#F0A7C4 ;
$--calendar-done: #A0C9FF ;
$--calendar-week-th:  #F7F7F7;

//menu-dropdown
$--menu-dropdown-background:#f2f2f2;
