


$--color-blue: #7A98F7 !default;
$--color-blue-light-1:#60A5FF;
$--color-blue-light-2:#5E7FDF;
$--color-blue-light-3: #24253C;
$--color-blue-light-4: #6ec8ff;



$--color-success: #63D2B1 ;
$--color-warning: #F39279 ;
$--color-info: #5F83DE ;
$--color-danger: #f56c6c ;


$--color-white: #fff !default;
$--color-black: #C7CCE6 !default;
$--color-black-bold: #8D96C5;

$--color-black-light-1:#7A8599;     //top-menu
$--color-black-light-2:#6B737C;     //left-menu
$--color-black-light-4:#61688A;     //例如，待办事项，已办字体颜色
$--color-black-light-5:#8D96C5;     //例如，法官接待日，popover-header
$--color-black-light-7:#282D3D;     //self border 自定义border颜色

$--color-black-light-3:#333;
$--color-black-light-6:#666;
$--color-black-light-9:#8D96C5;


//左侧导航栏颜色
$--nav-text-color: #797596;
$--nav-background: #272742;
$--nav-background-hover: #323252;

//body
$--body-background:#1e1f32;

//案件-项目，详情页 table
$--table-background-th: #24253C;
$--table-border: #282D3D;



//callpase
$--collapse-button-background: #bfcbd9*.3 ;



//home-calendar
$--calendar-doing:#D9598C ;
$--calendar-done: #5995E4 ;
$--calendar-week-th:#24253C;

//menu-dropdown
$--menu-dropdown-background: #24253C;
