
.login {
    .el-input__inner {
        color: #F1F1F1;
        font-size: 16px;
        padding-left: 40px;
        border-color: #e1e4ee;
        background-color: inherit;
        height: 50px;
        //-webkit-text-fill-color:  #F1F1F1; //谷歌自动填充字体颜色
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $co-999 ;
        }
    }
    //输入框检验绿色覆盖
    .el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
        border-color: #e1e4ee;
    }

    .el-input__prefix{
        left: 10px;
        top: 5px;
    }
    .el-input__suffix{
        right: 10px;
        top: 5px;
    }
    .el-button--self-large {
        padding: 24px 0;
        width: 190px !important;
        border-radius: 32px;
        border-color: #333;
    }

    .iconfont {
        font-size: 16px;
        color: $co-info;
    }
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    //background-image: url("/static/images/new-login.png");
    background-image: url("/static/images/qr-login.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .copyright {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%,0);
        color: #FEFEFE;
        font-size: 14px;
        vertical-align: middle;
        a {
            color:#ffffff;
            opacity: .5;
            display: inline-block;
            vertical-align: middle;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            color:rgba(254,254,254,0.7);
        }
        img{
            width: 559px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .login-box {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .login-img {
        display: flex;
        align-items: center;
        // width: 570px;
        // widows: 29%;
        margin-right:95px;
        .img-mobile{
            position: relative;
            top:130px;
        }
        .wx-group{
            text-align: center;
            margin-left: 70px;
            font-size: 18px;
            .item-img{
                width: 240px;
                height: 240px;
                background: url('/static/images/qr_back.png') no-repeat;
                background-size: 100% 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 45px;
                img{
                    width: 192px;
                    height: 192px;
                }
            }
            .item-text{
                margin-bottom: 10px;
                color: #6E6B99;
            }
        }

    }

    .login-form {
        width: 600px;
        min-width: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 40px;
        border-left: 1px solid rgba(255,255,255,.1);
        .user-input {
            width: 100%;
            margin: 0 55px 50px 55px;
            .logo {
                display: block;
                margin: 0 auto;
            }
            .logo-text{
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: .3em;
                color: #6E6B99;
                margin-bottom: 70px;
            }
            .logo-suffix {
                margin: 0 auto;
            }
            h4 {
                text-align: center;
                font-weight: 100;
                font-size: 18px;
                color: $co-999;
                margin-bottom: 45px;
            }
            .form-suffix {
                font-size: 16px;
                color: #ECB86C;
                &:hover {
                    color: $co-info;
                }
            }
            .other-login {
                display: flex;
                align-items: center;
                margin: 0 auto;
                max-width: 410px;
                i {
                    color: #666;

                }
                .text {
                    margin: 0 10px;
                    cursor: pointer;
                    a {
                        color: #BD9098;
                    }
                    &:hover {
                        i {
                            color: #67C23A;

                        }
                    }
                }
                .line {
                    flex: 1;
                    height: 1px;
                    background-color: #BD9098;
                    opacity: 0.3;
                }

            }
            .wechat-box {
                text-align: center;
                margin: 0 auto;
                max-width: 420px;
            }
            .suffix-text {
                padding-top: 25px;
                padding-bottom: 80px;
                color: #999;
            }
            .divide-text {
                padding: 18px 0;
                border-top: 1px solid rgba(56, 73, 138, .3);
                color: #666;
            }
            .register-type {
                display: flex;
                margin-bottom: 22px;
                li {
                    display: inline-block;
                    text-align: center;
                    width: 113px;
                    height: 40px;
                    margin-right: 20px;
                    line-height: 40px;
                    border: 1px solid #A7A7A7;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .type-active {
                    color: $co-info;
                    border-color: $co-info;
                }
            }
        }
        .type-group {
            display: flex;
            max-width: 710px;
            margin: 0 auto;
            height: 350px;
            justify-content: space-between;
            align-items: center;
            .item-bar {
                width: 3px;
                height: 100%;
                background-color: #D6D6D6;
            }
            .item-type {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 200px;
                background: rgba(255, 255, 255, 1);
                border-radius: 4px;
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07);
                i {
                    font-size: 80px;
                    color: #999;
                }

            }

        }
        .register-protocol{
            color: #8A8AA7;
            font-size: 16px;
            position: relative;
            .el-checkbox__inner{
                background: none;
            }
            .el-checkbox__input.is-checked .el-checkbox__inner {
                background-color: #ECB86C;
                border-color: #ECB86C;
            }
            span{
                color: #ECB86C;
            }
            .protoco-tip{
                color: #F56C6C;
                font-size: 12px;
                line-height: 1;
                padding-top: 4px;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }
}
.qr-login{
    background-image: url("/static/images/qr-login.png");
    .qr-login-wrap{
        width: 715px;
        height: 720px;
        background: #fff;
        border-radius: 10px;
        box-shadow:14px 17px 21px 0px rgba(94,98,193,0.07);
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        .qr-login-img{
            margin-top: 90px !important;
            width: 320px;
            height: 320px;
            box-shadow:0px 1px 16px 0px rgba(156,158,174,0.33);
            img{
                width: 100%;
                height: 100%;
            }
        }
        .qr-txt{
            font-size: 16px;
            color: #8890AC;
            text-align: center;
            padding-top: 40px;
        }
        .el-input__inner {
            color: #9FA5B9;
            font-size: 16px;
            padding-left: 40px;
            border-color: #ECB86C !important;
            background-color: inherit;
            height: 65px;
            -webkit-text-fill-color:  #9FA5B9; //谷歌自动填充字体颜色
            &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: $co-999;
            }
            &:focus {
                border-color: #ECB86C !important;
            }
        }
        .el-form-item.is-error .el-input__inner{
            border-color: #F56C6C !important;
        }
        .el-input__prefix{
            left: 10px;
            top: 12px;
        }
        .el-input__suffix{
            right: 10px;
            top: 12px;
        }
        .el-button--large{
            font-size: 30px;
            padding: 17px 10px;
        }
    }
}
.register-dialog{
    .el-dialog{
        border-radius: 10px;
        margin-top: 5vh !important;
    }
    .el-dialog__header{
        display: none;
    }
    .el-dialog__body{
        padding: 0;
    }
    .register-bold-txt{
        color: #333;
        font-weight: 500;
        text-decoration: underline;
    }
    .title{
        position: relative;
        text-align: center;
        img{
            width: 329px;
            height: 2px;
            position: absolute;
            left: 172px;
            top: 52px;
        }
        .txt{
            font-size: 30px;
            color: $co-333;
            padding: 30px 0;
        }
    }
    .content-wrap{
        height: 570px;
        margin: 0 10px 0 20px;
        overflow-y: auto;
    }
    .content-shadow{
        width: 100%;
        height: 5px;
        box-shadow: 0px -3px 4px #eee;
    }
    .content{
        &-title{
            font-size: 16px;
            color: $co-333;
            margin-top: 30px;
        }
        &-txt{
            font-size: 14px;
            color: $co-888;
            line-height: 24px;
            margin-top: 10px;
        }
    }
    .btn-wrap{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        .register-btn{
            width: 180px;
            height: 50px;
            font-size: 18px;
        }
        .register-btn-white{
            &:hover{
                background: #f4f4f5;
                border: 1px solid #ddd;
                color: #333;
            }
        }
        .register-btn-yellow{
            background: #ECB86C;
            margin-left: 70px;
        }
    }
}
.triangle-bottomright{
    width: 0;
    height: 0;
    border-bottom: 85px solid #8E93B3;
    border-left: 85px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    i{
        font-size: 48px !important;
        color: #fff !important;
        position: absolute;
        left: -65px;
        top: 13px;
    }
}
